.row {
  margin: 20px;
  width: 100%;
  height: auto;
  padding-left: 135px;
}
.headpage .image {
  position: relative;
  width: 120%;
  height: auto;
  line-height: 45px;
  text-align: center;
}
// style to make a round button
.headpage .btn-circle1 {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  background-color: transparent;
  border-color: white !important;
}

.headpage .btn-dark1 {
  background-color: transparent;
  border-color: transparent !important;
  outline: none;
}
pre {
  color: #7d7d7d;
}
pre:hover {
  color: black;
  text-decoration: underline;
}
.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}
@media screen and (max-width: 600px) {
  .row {
    margin: 12px;
    width: 92%;
    height: auto;
    padding-left: 0px;
    padding-right: 92px;
  }
  .row .headpage {
    width: 180%;
    padding-right: 129px;
  }
  .img {
    width: 180%;
    padding-right: 129px;
  }
}
