.lightboximage {
  margin: 20px;
  text-align: center;
  margin: "auto";
  height: auto;
  display: block;
  padding-left: 141px;
  padding-right: 141px;
  max-width: 100%; }

.img {
  margin: 20px;
  width: 100%;
  height: auto;
  padding-left: 135px;
  max-width: 100%; }

img {
  max-width: 100%; }

.lightboximage .img {
  height: auto;
  line-height: 45px;
  text-align: center;
  border-radius: 51%;
  max-width: 100%; }

.lightboximage .a.img {
  height: auto;
  line-height: 45px;
  text-align: center;
  border-radius: 51%;
  max-width: 100%; }

.btn-primary-outline {
  background-color: transparent;
  border-color: #ccc;
  border: 0px;
  color: transparent; }

@media screen and (max-width: 600px) {
  .lightboximage {
    padding-left: 35px;
    margin: 12px;
    height: auto;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px; }
  .lightboximage img {
    height: auto;
    width: auto;
    max-width: auto;
    max-width: 270px;
    width: 270px; } }
