.img-fluid {
  margin: 5%; }

.img-fluid1 {
  margin-top: 5%;
  margin-right: 5%; }

.img-fluid2 {
  margin-top: 15%;
  margin-right: 5%; }

.text1 {
  font-size: 13px; }

.textsize {
  font-size: 14px; }

.MyButton {
  height: 39px;
  width: 131px; }

.MyButton1 {
  height: 39px;
  width: 173px; }

.closebutton {
  top: 7px;
  position: absolute;
  right: 7px; }

.popbtn {
  text-align: center; }

.swal2-confirm {
  background-color: #010405 !important;
  border-left-color: #010405 !important;
  border-right-color: #010405 !important; }

@media screen and (max-width: 600px) {
  .img-fluid1 {
    margin-top: 15%;
    margin-left: 5%; }
  .MyButton {
    margin-bottom: 10%; }
  .MyButton1 {
    margin-bottom: 10%; } }
