.pa {
  font-size: 20px;
  margin-left: 39px;
}
.pb {
  color: black;
  margin-left: 239px;
}
.pb1 {
  color: black;
  margin-left: 109px;
}
.shop {
  color: grey;
  margin-left: 39px;
}
.MyProductContainer {
  margin: auto;
  margin-left: 10%;
  margin-right: 10%;
}
.imgprod {
  margin: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#wrapper .text {
  position: relative;
  bottom: 30px;
  left: 0px;
  visibility: hidden;
}

#wrapper:hover .text {
  visibility: visible;
}
.para {
  font-size: 12px;
  margin-left: 10px;
  color: black;
}
.para1 {
  font-size: 10px;
  padding-left: 10px;
  color: rgb(141, 140, 140);
}
.para2 {
  font-size: 12px;
  color: rgb(70, 68, 68);
  margin-left: 10px;
}
@media screen and (max-width: 600px) {
  .MyProductContainer {
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
  }

  .Mycontainer {
    margin-left: 32%;
    margin-right: 32%;
  }
  .imgprod {
    margin: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
