.form-inline {
  .button {
    text-align: center;
    background-color: #070808 !important;
    color: white;
  }
}
.navbar {
  background-color: #070808 !important;
}

li:hover {
  font-family: "acumin-pro", "Acumin Pro", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: #767879;
}
.img:hover {
  width: 20px;
}
.nav-item > .nav-item.active {
  color: white;
}
