.sidebar {
  position: fixed; // or absolute
}
.sidenav {
  height: 100%;
  width: 80px;
  position: fixed;
  z-index: 1;
  right: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav:hover {
  color: #f1f1f1;
  width: 100px;
}
// don't show the side bar when using a mobile
@media screen and (max-width: 600px) {
  .sidenav {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-circle i {
  position: relative;
  top: -1px;
}

.btn-circle-lg {
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 1.1rem;
}
.btn-circle:hover {
  width: 65px;
  height: 65px;
  line-height: 65px;
  font-size: 1.1rem;
}

// Info bulle Styling

.info-btn:hover + .info-btn-text {
  visibility: visible !important;
  opacity: 1 !important;
}

.info-btn {
  background: white;
  border-style: solid;
  border-color: grey;
  border-width: thin;
  color: grey;
  cursor: help;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}
.info-bulle {
  height: min-content;
}
